body {
    background-color: lightblue;
    font-family: Arial;
}

.productos {
    display: flex;
    flex-direction: column;
}

.card-producto {
    background: white;
    margin: 10px;
    padding: 15px;
}

.contenedor-grid {
    display: grid;
    grid-template-columns: 1fr;
    margin: 10px;
}

img {
    width: 100%;
}

/* Tablet */
@media (min-width: 768px) {
    .productos {
        flex-direction: row;
    }

    .card-producto {
        width: 45%;
    }

    .contenedor-grid {
        grid-template-columns: 2fr 1fr;
    }
}

/* Escritorio */
@media (min-width: 1024px) {
    .card-producto {
        width: 30%;
    }
}